<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Young Statisticians Conference is a biennial conference for students and early career researcher in statisitcs sponsored by <a href="http://www.statsoc.org.au/">Statistical Society of Australia</a>.
<ul class="partners-list">
{{ range $partner := .partners }}
  <li class="partner-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="partner-logo partner-link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
{{ end }}
</ul>

<h2 class="section-title">Sponsors</h2>
<ul class="sponsors-list" >
{{ range $sponsor := .sponsors }}
  <li class="sponsor-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" itemprop="url" target="_blank" style="float:left; padding: 0 15px">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image" width="30%">
    </a><p  style="font-size:10pt"> {{ .text }}</p>
  </li>
{{ end }}
</ul>

</p>
