<h2 class="section-title">Accomodation</h2>

<div style="font-size:14pt;line-height:1.5">
We would encourage any participants to find their own accomodation at Canberra. There are several accomodaton options around Manuka Oval and it is best to lock in your accomodation as soon as possible. 
<br><br>
East hotel is offering delegates a 10% discount for any bookings. East hotel is 400 meters from Manuka Oval, and it provides a quiet environment with reliable wi-fi for guests. More information could be found in <a href="www.easthotel.com.au">www.easthotel.com.au</a>. Any interested delegates could contact <a href="mailto:eo@statsoc.org.au">eo(at)statsoc.org.au</a> for promo code. 
<br><br>
Meanwhile, we have an exclusive offer for our delegates for the special rate of $165 (instead of $175).  The Forrest Hotel and Apartments is 11 minutes walking distance from Manuka Oval. More information are available at  <a href="mailto:admin@forresthotel.com">admin@forresthotel.com</a> or <a href= "https://www.forresthotel.com/">https://www.forresthotel.com/</a>. 
	
</div>