<h2 class="section-title">About Canberra</h2>

<div style="font-size:14pt;line-height:1.5">
Why not combine your trip to the conference with a little holiday, and explore Canberra to experience Australian culture and history at superb monuments and galleries?  Our beautiful capital is a city surrounded by parkland and native bush and Spring is the perfect time for a visit.

As the home of Australia’s Parliament House, Canberra plays host to a community of residents who've relocated from larger cities such as Melbourne and Sydney to work in politics, government and related industries such as media. Add a large student population (Australia's prestigious Australian National University and Canberra University are located here) and a number of renowned galleries and museums, and the result is a small but cosmopolitan city with a great food scene and plenty of creative flair.

<p style="font-size: 24 pt">Floriade</p>
YSC2019 is timed perfectly so that delegates have the opportunity to experience Australia’s biggest celebration of spring: Floriade. This iconic Canberra event will run from Saturday 14 September until Sunday 13 October 2019. Floriade is more than thousands of flowers. Click here to see what it’s all about: <a href="https://floriadeaustralia.com/event-info/">https://floriadeaustralia.com/event-info/</a> 


<p style="font-size: 24 pt">How to get to Canberra</p>
There are frequent domestic flights from major Australian capital cities to Canberra. It is only an easy three-hour drive from Sydney and an eight-hour drive from Melbourne. There are plenty of scenic routes if you like to get off the beaten track and visit one of the many country towns along the way.


To find out more about Canberra, follow these links:
<a href="https://visitcanberra.com.au/">https://visitcanberra.com.au/</a>
<a href="https://www.australia.com/en/places/canberra-and-surrounds/guide-to-canberra.html">https://www.australia.com/en/places/canberra-and-surrounds/guide-to-canberra.html</a>


To get a first impression, why not check out this latest episode of “Travel Guides”. It’s now available on Channel Nine: <a href="https://www.9now.com.au/travel-guides/season-3/episode-9 ">https://www.9now.com.au/travel-guides/season-3/episode-9</a>. 

	
</div>