
<header class="header">
  <div class="wrapper">
    <img src={{ .images }} alt="{{ .name }}" class="photo" itemprop="image">
    <h2 class="tagline2">{{ .motto }}</h2>

    <!--<h1 class="logo-name">
      <a class="logo-link" href="#" title="{{ .name }}" itemprop="name">{{ .name }}</a>
    </h1>-->
    <h2 class="tagline">{{ .date }}, {{ .venue }}, {{ .city }}</h2>
    <div class="call-action-area">
      {{ with .calltoaction }}
        <a href="{{ .link }}" class="call-action-link" target="_blank" title="{{ .text }}">{{ .text }}</a>
      {{ end }}
    </div>
    <br>
    <div class="call-action-area">
      <a href="https://statsoc.org.au/event-3214332" class="call-action-link" target="_blank" title="Register here!">Register here!</a>
    </div>
  </div>
</header>

<hr>
