<div class="navbar">
  <a href="#about">About</a>
  <a href="#video">Competition</a>
  <a href="programme.html">Programme</a>
  <a href="#contact">Contact</a>
  <a style="float:right" href="https://www.facebook.com/Young-Statisticians-Conference-2019-847445405604561/" class="nav-link fab fa-facebook faa-shake animated-hover"></a>
  <a style="float:right" href="https://twitter.com/search?q=%23YSC2019&src=typd" class="nav-link">#YSC2019</a>

  <a style="float:right" href="https://twitter.com/2019Young" class="nav-link fab fa-twitter faa-float animated"></a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#speakers">Keynote Speakers</a>
      <a href="#sponsors">Sponsors</a>
      <a href="#workshop">Workshop</a>
      <a href="#accomodation">Accomodation</a>
      <a href="#organisers">Organisers</a>
    </div>
  </div> 
</div>
<!---
<nav id="nav">
  <ul class="wrapper2">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    {{ range $section := $.Site.Params.Sections }}
      <li class="nav-item">
        <a href="#{{ $section }}" title="{{ index $.Site.Params.Titles $section }}" class="nav-link">
          {{ index $.Site.Params.Titles $section }}
        </a>
      </li>
    {{ end }}

    <li class="nav-item" style="float:right">
      <a href="https://www.facebook.com/Young-Statisticians-Conference-2019-847445405604561/" class="nav-link fab fa-facebook faa-shake animated-hover"></a>
    </li>
    <li class="nav-item" style="float:right">
      <a href="https://twitter.com/2019Young" class="nav-link fab fa-twitter faa-float animated"></a><a href="https://twitter.com/search?q=%23YSC2019&src=typd" class="nav-link">#YSC2019</a>
    </li>
  </ul>

</nav>
-->
<hr>
