<h2 class="section-title">{{ .titles.organisers }}</h2>

<table style="width:100%;line-height:3em;">
	<tr>
		<td style="font-size:14pt">Raaj Kishore Biswas</td>
		<td style="font-size:14pt">Chair</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Philip Clare</td>
		<td style="font-size:14pt">Program Chair</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Janan Arslan</td>
		<td style="font-size:14pt">Committee Secretary</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Myra McGuinness</td>
		<td style="font-size:14pt">Co-Abstract Submissions Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Jemisha Apajee</td>
		<td style="font-size:14pt">Co-Abstract Submissions Manager</td>
	</tr>
	<tr>
  		<td style="font-size:14pt">Emi Tanaka</td>
		<td style="font-size:14pt">Website Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">John Yeung</td>
		<td style="font-size:14pt">Assistant Website Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Jandy Tenedora</td>
		<td style="font-size:14pt">Social Media Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Kylie-Ann Mallitt</td>
		<td style="font-size:14pt">Social Media Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Sharmala (Sharm) Thuraisingam</td>
		<td style="font-size:14pt">Sponsorship Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Nidhi Menon</td>
		<td style="font-size:14pt">Venue Liaison/Local Contact</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Ratih Putri Pertiwi</td>
		<td style="font-size:14pt">Social Program Manager</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Armin Pourkhanali</td>
		<td style="font-size:14pt">Treasurer</td>
	</tr>
	<tr>
		<td style="font-size:14pt">Marie-Louise Rankin</td>
		<td style="font-size:14pt">Executive Officer</td>
	</tr>
</table>
