<h2 class="section-title">Conference Dinner</h2>

<div style="font-size:14pt;line-height:1.5">
After a busy conference day at YSC2019 let's enjoy an evening of relaxing, connecting and wholesome pub-style cuisine at the Kingston Hotel (<a href="https://kingstonhotel.com.au/">https://kingstonhotel.com.au/</a>) while we celebrate women in statistics. 
You don't have to be female to do that!

The Kingston Hotel, fondly referred to as "The Kingo" is one of Canberra's original watering holes and has become one of Canberra's most popular pubs. Please join us to discuss issues concerning women in statistics in Australia, to network with fellow statisticians and supporters and simply have a fun night out with friends! <br><br>

The cost for the dinner is $20 for delegates of YSC2019 and $40 for everyone else. <br><br>

Registrations for this dinner close strictly on 24 September 2019.

	
</div>