<h2 class="section-title">Video Competition</h2>

<div style="font-size:14pt;line-height:1.5">
	
<p>Congratulations to the winners of the Video Competition!<br><br>
	
<b>Winner:</b> Tan Jing Yi Joshua, Singapore Management University (Title: Tan Jing Yi Joshua Remember.For.Me) <br><br>

<b>Runner-up:</b> Mustafa Shaheer Hamid, Monash University (Title: Employing Semantic Segmentation Using Neural Networks)<br><br>

All submitted videos have been posted in YSC2019 youtube channel of Statistical Society of Australia: <a href="http://bit.ly/ysc2019videochannel">http://bit.ly/ysc2019videochannel</a>. 
</p>

<b>Video Competition rules: </b>
<p>To join the competition, you only need to present your research in a three-minute video and submit the link through the registration form. We would like to make the submitted video public so you can also watch other participants’ video, after the competition. How exciting!</p>
<br><br>
The competition is a great opportunity for you to:
<ul style="margin-left:10pt;">
	<li>- practice your communication skill in explaining your scientific research/ project in a concise and compelling way to general public, </li>
	<li>- develop your research to the next stage for broader community impact and network, </li>
	<li>- inspire many early career statisticians or students about career paths in statistics/ science. </li>
</ul>
<br>
<b>Key dates:</b><br>


Submission deadline: <b>25 September 2019 at 11:59 PM Canberra Time</b> <br>
<i>You are welcome to submit your video after this due date to have your video be posted in our YouTube account; however, only videos submitted by the submission deadline will be included in the competition. </i><br>
Result announcement: <b>2 October 2019 (last day of conference)</b>
<br><br>
<b>Fee:</b> It is free for everyone!
<br><br>
<b>Rules:</b>
<ul style="margin-left:10pt;">
	<li>- You must be a student or an early career researcher (within 5 years of graduation) in a statistics related area. Previous winner are not allowed to register.</li>
	<li>- One participant can submit only one video. You may present your thesis, dissertation, or other substantial research project.</li>
	<li>- Video length is limited to 1-3 minutes. Any video over 3 minutes will be automatically disqualified. </li>
	<li>- Video must not have any slides, props or additional media (music, subtitles etc.)</li>
	<li>- The language of the video must be English; Presentations are to be spoken word (no songs or poems are allowed)</li>
</ul>

<br>
<b>Submission:</b>
<ul style="margin-left:10pt;">
	<li>- Record yourself within 3 minutes in a video and upload it to your YouTube account with the privacy setting as ‘Unlisted’ or ‘Public’.</li>
	<li>- Put your name and research title in the ‘Title’ section and also put “YSC 2019 Video Competition” in the ‘Description’ section of the video.</li>
	<li>- Fill the competition registration form here (<a href="https://form.jotform.co/82995720203862">https://form.jotform.co/82995720203862</a>) which includes:</li>
	<ul style="margin-left:20pt">
		<li>- link to your video</li>
		<li>- university/college/organisation that you represent </li>
		<li>- brief summary of your video (no more than 150 words)</li>
	</ul>
</ul>
<br>

<b>Video publication: </b><br>

All submitted videos will be posted on Statistical Society Australia/YSC2019 official website, Facebook, Twitter, and YouTube accounts (unless indicated ‘no’ in the submission form). This will not affect competition eligibility and judgement.  <br><br>

<b>Judging criteria:</b><br>
<ul style="margin-left:10pt;">
	<li>- Organization: Was the presentation well-structured and easy to follow?</li>
	<li>- Engagement &amp; delivery: Did the presentation make audience want to know more? Did the presenter show enthusiasm? Did presenter maintain proper eye contact, steady pace, clear voice range, and confident stance?</li>
	<li>- Comprehension &amp; content: Did the presentation show an adequate elaboration of the research main components including background, research question and its significance, method, and findings? Did the presentation avoid too much use of technical terms and jargons?</li>
	<li>- Video quality: Was the voice is clear and no distractive noise from surrounding? Was the video-recording quality good enough?</li>
</ul>
<br>
<b>Award: </b><br>
There will be cash prizes for winners! <br>
<b>First prize:</b> $200<br>
<b>Second prize:</b> $100<br><br>

<b>Questions:</b><br>
Please feel free to direct any enquiries to Ratih Putri Pertiwi <a href="maito:pertiwir@student.unimelb.edu.au">pertiwir (at) student.unimelb.edu.au</a><br><br>

<b>2017 winners:</b><br>
<b>First prize:</b> Kate Saunders, University of Melbourne (Title: Preparing for the worst: Modelling extreme rainfall) <br>
<center>
<iframe width="420" height="315"
src="https://www.youtube.com/embed/88ZRYK0DmKs">
</iframe>
</center>
<b>Runner-up:</b> Rodelyn Avila, University of Canterbury (Title: Understanding Disease Risk via Bayesian Disease Mapping) <br>
<center>
  <iframe width="420" height="315"
src="https://www.youtube.com/embed/lxSGjWkjKKI">
</iframe>
</center>
</div>