<h2 class="section-title">Workshop</h2>
<div style="font-size:14pt;line-height:1.5">
There will be two pre-conference workshops held in parallel on September 30, the day before
the conference.
</div>
<br>

<h4>Workshop 1: Communicating with R Markdown</h4>
<div style="font-size:14pt;line-height:1.5">
  <div class="call-action-area">
<a href="https://statsoc.org.au/event-3457232" class="call-action-link" target="_blank" title="Register here!" style="font-size:14pt">Register here</a>
</div>
<b>About the workshop</b><br>
A workshop for R Markdown users who want to get more out of R Markdown (and friends).
In this workshop, we will demystify how R Markdown works under the hood. You will learn
practical tools and workflows to increase your efficiency and productivity using R Markdown
(including RStudio IDE features and templates), while learning how to use some extension
packages along the way. We assume that you have knit an R Markdown document before, but
you don’t need to be an advanced R Markdown user to take this workshop.
<br>
<b>About the presenter</b>
<br>
Alison Hill is a Data Scientist &amp; Professional Educator at RStudio, developing free and open
source tools to make it easier and more fun to do data science with the statistical
programming language. Alison studied psychology and quantitative methods, receiving her
Ph.D. from Vanderbilt University in 2008. For eight years, she was a professor and scientist
at Oregon Health &amp; Science University, where her research was funded by the National
Institutes of Health, the Oregon Clinical and Translational Research Institute, and Autism
Speaks. She has written numerous scientific journal articles and book chapters on autism and
neurodevelopmental disorders. She has developed and delivered workshops, graduate-level
courses, and curricula based on teaching R, the tidyverse, and literate programming.
</div><br>

<h4>Workshop 2: Maximising the use of Australian Bureau of Statistics Data Products and
Analysis Tools</h4>


  
<div style="font-size:14pt;line-height:1.5">
   
        <div class="call-action-area" >
      <a href="https://statsoc.org.au/event-3462953" class="call-action-link" target="_blank" title="Register here!" style="font-size:14pt">Register here</a>
    </div><br>
<br>
<b>About the workshop</b>
<br>
This one-day workshop will have two components. First, it will provide an overview of the
wide variety of data sources from the Australian Bureau of Statistics that are available for
analysts. These sources include our 5-yearly Census, survey data, administrative data, and in
particular, linked data. A demonstration of the ABS Table Builder and Data Lab products -
platforms for analysts to remotely undertake bespoke analyses using ABS data - will be given. Several case studies will provide examples of the many innovative ways analysts are
making use of ABS data for their projects. Second, it will focus on how Table Builder can
produce data-cubes for a standard analysis in R. This will then extend to creating large data-
cubes suitable for mixed models using the ‘LME4’ package in R. This second component of
the workshop will conclude with discussion of Poisson-gamma models, which have
additional advantages in this type of data framework.

<br>
<b>About the presenters</b><br>

Louise Gates has over 20 years&#39; experience as a statistical methodologist at the Australian
Bureau of Statistics, and is currently the Director of the Health National Statistics Centre at
the Australian Bureau of Statistics. The Centre leads the production of national official health
statistics and data products. When Louise is not at the ABS or raising her three teenage
children, you&#39;ll most likely find her off the beaten track running, white water kayaking, or
bushwalking.<br>
James Brown has over 20 years of experience as an applied statistician including
collaborations with Government Statistics in the UK and Australia. Since September 2013, he
is Professor of Official Statistics at UTS and just completed a term as Associate Head of
School (Research) for School of Mathematical &amp; Physical Sciences.
</div>